.container {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 401px;
  /* margin-top: 105px; */
  margin-left: 124px;
}

.content h1 {
  font-family: "Noto Sans Syriac Eastern", sans-serif;
  font-size: 48px;
  font-weight: 900;
  color: #192843ff;
  line-height: 1.2;
  /* letter-spacing: 0.2px; */
  margin: 0;
}

.content p {
  font-size: 16px;
  font-weight: 600;
  color: #99a4b6ff;
  line-height: 1.4;
  letter-spacing: -0.1px;
  margin: 0;
  margin-top: 6px;
  margin-bottom: 50px;
}

.cards__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 46px;
}
