.container__details__inputs {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 28px;
  margin-top: 10px;
}

.container__name__input {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 151px;
}

.container__name__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  padding-right: 180px;
}

.container__name__input input {
  width: 150%;
  padding: 10px 15px;
  padding-right: 40px;
  border: none;
  background-color: #fff;
  color: #192843ff;
  font-size: 16px;
}

.container__quantity__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.container__quantity__input input {
  width: 50%;
  padding: 10px 15px;
  border: none;
  background-color: #fff;
  color: #192843ff;
  font-size: 16px;
  position: relative;
  display: inline-block;
}

.container__price__input {
  margin-left: -82px;
}

.container__price__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.container__price__input input {
  width: 50%;
  padding: 10px 15px;
  border: none;
  background-color: #fff;
  color: #192843ff;
  font-size: 16px;
  position: relative;
  display: inline-block;
}

.container__subtotal__input {
  margin-left: -82px;
}

.container__subtotal__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.container__subtotal__input input {
  width: 50%;
  padding: 10px 15px;
  border: none;
  background-color: #fff;
  color: #192843ff;
  font-size: 16px;
  position: relative;
  display: inline-block;
}

.container__button__remove {
  margin-left: -88px;
}
