.container__outside {
  display: flex;
  justify-content: center;
  background-color: #f6f7faff;
  position: relative;
  /* height: 100vh; */
  background-repeat: repeat;
}

.general__container {
  display: flex;
  position: relative;
}

.side__panel {
  width: 80px;
  height: 100vh;
  z-index: 1;
  position: fixed;
  left: 0;
  background-image: url("/src/imgs/side_panel.png");
  background-size: cover;
  background-repeat: repeat-y;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  /* gap: 55px; */
}

.icons img {
  width: 20px;
}

/* Styles for each individual icon container */
.home,
.star,
.docu,
.file,
.person {
  padding-top: 22px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 22px;
  cursor: pointer;

  transition: box-shadow 0.3s ease; /* Smooth transition for the box-shadow effect */
}

/* Shadow effect on hover */
.home:hover,
.star:hover,
.docu:hover,
.file:hover,
.person:hover {
  background-color: #147cc9ff;
}

.container__new__sale {
  display: flex;
  flex-direction: column;
  padding-left: 84px;
}

.container__title {
  display: flex;
  flex-direction: row;
  gap: 28px;
  margin-top: 90px;
  margin-left: 116px;
}

.container__title h1 {
  font-size: 48px;
  font-weight: 800;
  color: #192843ff;
  line-height: 1.2;
  /* letter-spacing: 0.2px; */
  margin-bottom: 6px;
  margin: 0;
}

.new__sale__person {
  width: 60px;
}

.container__client {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 28px;
  margin-left: 116px;
}

.divider {
  display: flex;
  max-width: 89%;
  max-height: 90%;
}

.container__divider {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  left: 0;
}

.container__divider h1 {
  margin-bottom: 6px;
}

.horizontal__divider {
  border: none;
  border-top: 1px solid #19284385;
  position: absolute;
  width: 90%;
}

.container__divider__total {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 0;
  margin-top: 8px;
}

.container__inputs {
  display: flex;
  flex-direction: row;
  gap: 36px;
  margin-top: 4px;
}

.container__client__input {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 151px;
}

.container__client__input_error__correction {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 151px;
}

.container__client__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  gap: 6px;
}

/* Styles for input inside .container__client__input and .container__client__input_error__correction */
.container__client__input input,
.container__client__input_error__correction input {
  width: 135%;
  padding: 10px 15px;
  padding-right: 40px;
  border: none;
  background-color: #fff;
  color: #192843ff;
  font-size: 16px;
}

/* Styles for label inside .container__client__input and .container__client__input_error__correction */
.container__client__input label,
.container__client__input_error__correction label {
  display: flex;
  justify-content: center;
  font-size: 14px;
  letter-spacing: 0.1px;
  color: #99a4b6ff;
}

/* Styles for focused input inside .container__client__input and .container__client__input_error__correction */
.container__client__input input:focus,
.container__client__input_error__correction input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #279affff;
}
.container__error__success {
  display: flex;
}

.error__existing__user {
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  color: #c4483f;
}

.success__added__user {
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  color: #3fc472;
}

/* CSS for the overlay */
.overlay {
  top: 65px;
  position: absolute;
  background-color: #fff;
  border: 0px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 159%;
  overflow-y: auto;
  overflow-x: auto;
}

/* CSS for the client list */
.client__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.client__list li {
  padding: 10px;
  cursor: pointer;
}

.client__list li:hover {
  background-color: #f5f5f5;
}

.container__branch__input {
}

.container__branch__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.container__branch__input label {
  display: flex;
  justify-content: center;
  font-size: 14px;
  letter-spacing: 0.1px;

  color: #99a4b6ff;
}

.container__branch__input input {
  width: 135%;
  padding: 10px 15px;
  padding-right: 40px;
  border: none;
  background-color: #fff;
  color: #192843ff;
  font-size: 16px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
}

.container__branch__input input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #279affff;
}

.overlay__branches {
  top: 361px;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 28.9%;
  z-index: 1;
  overflow-y: auto;
  overflow-x: auto;
}

.container__currency__input {
  padding-left: 141px;
}

.container__currency__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.container__currency__input label {
  display: flex;
  justify-content: center;
  font-size: 14px;
  letter-spacing: 0.1px;

  color: #99a4b6ff;
}

.container__currency__input input {
  width: 30%;
  padding: 10px 15px;
  padding-right: 40px;
  border: none;
  background-color: #fff;
  color: #192843ff;
  font-size: 16px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
}

.container__currency__input input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #279affff;
}

.container__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 28px;
  margin-left: 116px;
}

.container__details__inputs {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 28px;
  margin-top: 4px;
}

.container__name__input {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 151px;
}

.container__name__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  gap: 6px;
  padding-right: 180px;
}

.container__name__input label {
  display: flex;
  justify-content: center;
  font-size: 14px;
  letter-spacing: 0.1px;

  color: #99a4b6ff;
}

.container__name__input input {
  width: 150%;
  padding: 10px 15px;
  padding-right: 40px;
  border: none;
  background-color: #fff;
  color: #192843ff;
  font-size: 16px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
}

.container__name__input input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #279affff;
}

.overlay__products {
  top: 65px;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 99.8%;
  z-index: 1;
  overflow-y: auto;
  overflow-x: auto;
}

.container__quantity__input {
  /* padding-left: 141px; */
}

.container__quantity__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.container__quantity__input label {
  display: flex;
  justify-content: center;
  font-size: 14px;
  letter-spacing: 0.1px;

  color: #99a4b6ff;
}

.container__quantity__input input {
  width: 50%;
  padding: 10px 15px;
  /* margin-right: 162px; */
  border: none;
  background-color: #fff;
  color: #192843ff;
  font-size: 16px;
  position: relative;
  display: inline-block;
}

.container__quantity__input input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #279affff;
}

.container__price__input {
  margin-left: -82px;
}

.container__price__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.container__price__input label {
  display: flex;
  justify-content: center;
  font-size: 14px;
  letter-spacing: 0.1px;

  color: #99a4b6ff;
}

.container__price__input input {
  width: 50%;
  padding: 10px 15px;
  /* margin-right: 162px; */
  border: none;
  background-color: #fff;
  color: #192843ff;
  font-size: 16px;
  position: relative;
  display: inline-block;
}

.container__price__input input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #279affff;
}

.container__subtotal__input {
  margin-left: -82px;
}

.container__subtotal__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.container__subtotal__input label {
  display: flex;
  justify-content: center;
  font-size: 14px;
  letter-spacing: 0.1px;

  color: #99a4b6ff;
}

.container__subtotal__input input {
  width: 50%;
  padding: 10px 15px;
  /* margin-right: 162px; */
  border: none;
  background-color: #fff;
  color: #192843ff;
  font-size: 16px;
  position: relative;
  display: inline-block;
}

.container__subtotal__input input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #279affff;
}

.container__buttons__total {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 22px;
  padding-left: 116px;
}

.container__button__remove {
  margin-left: -88px;
}

.container__total__input {
  padding-top: 35px;
}

.container__total__text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  padding-left: 755px;
  gap: 12px;
}

.container__total__input label {
  display: flex;
  justify-content: center;
  font-size: 14px;
  letter-spacing: 0.1px;

  color: #99a4b6ff;
}

.container__total__input input {
  width: 32%;
  padding: 10px 15px;
  /* margin-right: 162px; */
  border: none;
  background-color: #fff;
  color: #192843ff;
  font-size: 16px;
  position: relative;
  display: inline-block;
}

.container__total__input input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #279affff;
}

.container__button__save {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  padding-top: 55px;
  padding-left: 886px;
  padding-bottom: 100px;
}

.container__added__sales {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 11.6px;
}

/* Add the following styles for the placeholder */
input::placeholder {
  font-size: 14px; /* Set the font size */
  color: #ccc; /* Set the color to a lighter grey */
}
